@import "@/styles/index.scss";

.body {
  display: flex;
  flex-direction: column;
  @include baseLayout();
  gap: 32px;
  height: 100%;
  overflow: hidden;
  padding: 0 12px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tabs {
  width: 100%;
  padding-top: 20px;
}
